.holdButtons {
    padding: 10px;
    background-color: transparent;
    justify-content: space-evenly;
    display: flex;

}

.button-disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.button-enabled {
    background-color: pink;
    color: black;
    cursor: pointer;
}