
/* @media (max-width: 480px) {

    button {
        max-width:100px;
        max-height: 50px;
        font-size: small;
    }

    .hold-all {
        max-width: 10px;
    }
    body {
        background-color: green;
    }
    
    h1 {
        font-size: 30px;
    }
      
    .message-box {
        max-width: 10px;
    }

    .message-block {
        width: 10px;
        background-color: blue;
    }
} */

.holdButtons {
    padding: 10px;
    background-color: transparent;
    justify-content: space-evenly;
    display: flex;

}

.button-disabled {
    /* background-color: #AA336A; */
    transition: opacity .5s;
    opacity: .7;
    cursor: not-allowed;
}

.button-enabled {
    transition: opacity .5s;
    opacity: 1;

    background-color: pink;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #AA336A;
    border-color: #AA336A;
    color: white;
}

